= yield :javascript
= include_gon
= javascript_include_tag "http://code.jquery.com/jquery-migrate-1.0.0.js"
= javascript_include_tag :application
- if Rails.env.test?
  javascript:
    $.fx.off = true; $.ajaxSetup({ async: false }); 
