<section class="booster-setup">
  <div class="container">
    <div class="booster-setup-wrap">
      <div class="content">

        <div class="panel-group" id="accordion">
          <form class="panel panel-default">
            <div class="panel-heading">
              <div class="col-sm-12">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    About Phrenzi</a>
                </h4>
              </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="panel-group" id="about-content" style="margin-bottom: 0;">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#about-content" href="#about-1">
                          What is Phrenzi?
                        </a>
                      </h5>
                    </div>
                    <div id="about-1" class="panel-collapse collapse in">
                      <div class="about-body">
                        <p>Phrenzi is a competitive loyalty game that rewards winners with store credit.</p>
                        <div class="clearfix">
                          <div class="col-sm-3 text-right">
                            <strong>The Game:</strong>
                          </div>
                          <div class="col-sm-9">
                            <p>Players compete against each other to collect points within a set number of days.  Points are earned for anything from visiting the store and making purchases to performing tasks and being social.  Top point earners win store credit.
                            </p>
                          </div>
                        </div>
                        <div class="clearfix">
                          <div class="col-sm-3 text-right">
                            <strong>The Prize:</strong>
                          </div>
                          <div class="col-sm-9">
                            <p>Winners divide a portion of the total sales made by all players.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#about-content" href="#about-2">
                          Problems with Existing loyalty & discount programs
                        </a>
                      </h5>
                    </div>
                    <div id="about-2" class="panel-collapse collapse">
                      <div class="about-body">
                        <p>Existing loyalty & discount programs are a <strong>burden for businesses</strong> and <strong>"not worth it" for customers.</strong></p>
                        <div class="clearfix">
                          <div class="col-sm-4 text-right">
                            <strong>Businesses don’t like them:</strong>
                          </div>
                          <div class="col-sm-8">
                            They’re difficult to set up, hard to modify, and provide <strong>limited-to-no forecasting</strong> ability for businesses
                          </div>
                        </div>
                        <div class="clearfix">
                          <div class="col-sm-4 text-right">
                            <strong>Customers don’t care about them:</strong>
                          </div>
                          <div class="col-sm-8">
                            “Buy 10 get 1 free” and “get 3% back” are dull, bland, and boring.  Since they focus on customers individually they’re purposefully low-valued to protect the business from a potential high number of redemptions.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#about-content" href="#about-3">
                          Why Phrenzi is Awesome
                        </a>
                      </h5>
                    </div>
                    <div id="about-3" class="panel-collapse collapse">
                      <div class="about-body">
                        <ol>
                          <li>
                        <strong>Substantial Prizes:</strong> Customers compete for a limited number of tiered winner
                          positions.  Prizes that would have been paid out to all winners based on existing loyalty program
                          models are distributed only to the most loyal.
                          </li>
                          <li>
                        <strong>100% Forecasting Accuracy:</strong> Businesses can set the exact percentage of their total future sales to direct to prize payouts.
                          </li>
                          <li>
                        <strong>Rewards Word-of-Mouth Marketing:</strong> Customers advance in the game for promoting the business to friends, bringing them through the door, and getting them to make purchases.
                          </li>
                          <li>
                        <strong>Instantly Promote Anything:</strong> Businesses can promote anything, at any time, for any duration.  The game is fast-paced and fun for customers while allowing businesses to focus immediate attention on specific products or draw a crowd at specific times.
                          </li>
                          <li>
                        <strong>Fearless Marketing:</strong> Promotions are simply time-limited opportunities for customers to earn points and advance in the game.  They don’t affect the price of goods sold.  Businesses can offer as many promotions as they can dream up for free.  This allows them to learn what actually works and what doesn’t.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#about-content" href="#about-4">
                          The Phrenzi Team
                        </a>
                      </h5>
                    </div>
                    <div id="about-4" class="panel-collapse collapse">
                      <div class="about-body">
                        <p>We’re on a mission to improve how businesses interact with customers.  Phrenzi was created to make a fun, high-payout game that rewards loyalty, promotes word-of-mouth-marketing, and gives businesses the ability to forecast expenses with perfect accuracy.<br>

                          Phrenzi Ltd.<br>
                          © 2014</p>
                        <div class="clearfix">
                          <div class="col-sm-4">
                            <a href="#"><%= image_tag "korea.png", size: "200x133" %></a><br>
                            <a href="#">David C. Strohm
                              Director of Product Development
                              Team Korea
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="#"><%= image_tag "hong_kong.png", size: "200x133" %></a><br>
                            <a href="#">Matthew J. McGuire
                              Director of Business Development
                              Team Hong Kong
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="#"><%= image_tag "canada.png", size: "200x100" %></a><br>
                            <a href="#">Ryan Spears
                              Director of Technical Delivery
                              Team Canada
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </form>

        </div>


      </div>
    </div>
  </div>
</section>