$('#error-popup .modal-body p').html('It appears that following fields containing errors. <% full_errors.each do |msg| %><li><%=msg%></li><%end%>  You must complete all mandatory (*) fields..')
$("#error-popup").modal("show")