$('#flash-popup .modal-body').html('<p><%=message %></p><a href=<%=redirect_to %> class="btn btn-primary"> Okay</a>')
$('#flash-popup .modal-title').html('<%= title %>')
$("#flash-popup").modal("show")